<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

  

    <!--图片保存路径-->
    <add key="FileSavePath" value="D:\HengTelImage\"/>

    <!--人脸阀值-->
    <add key="YuZhi" value="0.7"/>

	  <!--数据库连接字符串-->
	<add key="ConnString" value="Data Source=127.0.0.1.;initial Catalog=postgres; user=postgres; Password=123456;Pooling=true"/>
	  
	<!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APP_ID" value="FFJdSAPQeVbSHXrJ4LKyQhQ48a4jFM5dS1cKBNKhkvqv"/>

    <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value=""/>

    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value="6cnSpZ8tLiJJzwGc8y1oRD8vSzMoFQsYsm6JPeTj4GMj"/>

	 <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
	 <add key="2SDKKEY64" value=""/>

	 <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
	 <add key="2SDKKEY32" value="6cnSpZ8tLiJJzwGc8y1oRD8g8BqRqn6jBLF1eVd5QFsj"/>

     <add key="RGB_CAMERA_INDEX" value="0"/>

  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
